{block content}

<h1>Značky</h1>

<a class="modal-trigger" href="#add-brands">Přidat značku</a><br>

{foreach $brands as $u}
    <table>
        <thead>
            <tr>
                <th>Název
                    <a n:href="default, $paginator->getPage(),$paginator->getItemsPerPage(),true"><i class="tiny material-icons">arrow_downward</i></a>
                    <a n:href="default, $paginator->getPage(),$paginator->getItemsPerPage(),false"><i class="tiny material-icons">arrow_upward</i></a>
                </th>
                <th>Akce</th>
            </tr>
        </thead>

        <tbody>
            {iterateWhile}
                <tr id="row-{$iterator->counter}">
                    <td>{$u->B_Name}</td>
                    <td><a href="{plink delete!, $u->B_Name}">Smazat</a>  <a class="modal-trigger" n:href="default, $paginator->getPage(),$paginator->getItemsPerPage(),false, $u->B_Name" >Editovat</a></td>
                </tr>
            {/iterateWhile true}
        </tbody>
    </table>

    <div class="pagination">
        {if !$paginator->isFirst()}
            {for $i = ($paginator->getPage()-4); $i < $paginator->getPage(); $i++}
                {if $i >= $paginator->getFirstPage()}
                    <a n:href="default, $i"> {$i}</a>
                {/if}
            {/for}
        {/if}

            {$paginator->getPage()}

	{if !$paginator->isLast()}
            {for $i = $paginator->getPage()+1; $i < ($paginator->getPage()+4); $i++}
                {if $i <= $paginator->getLastPage()}
                    <a n:href="default, $i"> {$i}</a>
                {/if}
            {/for}
        {/if}
    </div>
    <a n:href="default, $paginator->getPage(),1"> 1</a>
    <a n:href="default, $paginator->getPage(),10"> 10</a>
    <a n:href="default, $paginator->getPage(),20"> 20</a>
    <a n:href="default, $paginator->getPage(),30"> 30</a>


{else}
    Nejsou vytvořeni žádné značky!
{/foreach}

    <div id="add-brands" class="modal">

        <h2>Přidat značku</h2>

        {control addBrandsForm}

    </div>

    {if isset($brandName) && !empty($brandName)}
    <div id="edit-brands" class="modal modal-open">

        <h2>Upravit značku značku</h2>

        {control editBrandsForm}

    </div>
    {/if}


<script>
    {if isset($brandName) && !empty($brandName)}
    $(document).ready(function(){
        $('#edit-brands').modal();
        $('#edit-brands').modal('open');
    });
    {else}
    $(document).ready(function(){

        $('.modal').modal();


    })
    {/if}

</script>