{block content}

<a class="back"><i class="tiny material-icons">arrow_back</i> Značky</a><br>
<br>
<a class="modal-trigger addButton" href="#add-brands"><i class="tiny material-icons">add</i> Přidat značku</a>
<br>
<br>
{foreach $brands as $u}
    <table class="brandsTable">
        <thead>
            <tr>
                <th width="80%">Název
                    <a n:href="default, $paginator->getPage(),$paginator->getItemsPerPage(),true"><i class="tiny material-icons">arrow_downward</i></a>
                    <a n:href="default, $paginator->getPage(),$paginator->getItemsPerPage(),false"><i class="tiny material-icons">arrow_upward</i></a>
                </th>
                <th>Akce</th>
            </tr>
        </thead>

        <tbody>
            {iterateWhile}
                <tr id="row-{$iterator->counter}">
                    <td>{$u->B_Name}</td>
                    <td><a class="actionButton" href="{plink delete!, $u->B_Name}">Smazat</a>  <a class="modal-trigger actionButton" n:href="default, $paginator->getPage(),$paginator->getItemsPerPage(),false, $u->B_Name" >Editovat</a></td>
                </tr>
            {/iterateWhile true}
        </tbody>
    </table>
    <br>
    <div class="pagination rightSec">
        {if !$paginator->isFirst()}
            {for $i = ($paginator->getPage()-4); $i < $paginator->getPage(); $i++}
                {if $i >= $paginator->getFirstPage()}
                    <a n:href="default, $i"> {$i}</a>
                {/if}
            {/for}
        {/if}

            {$paginator->getPage()}

	{if !$paginator->isLast()}
            {for $i = $paginator->getPage()+1; $i < ($paginator->getPage()+4); $i++}
                {if $i <= $paginator->getLastPage()}
                    <a n:href="default, $i"> {$i}</a>
                {/if}
            {/for}
        {/if}
    </div>
    <div class="rightSec">
        <a class="info">Řazení:</a>
        <a n:href="default, $paginator->getPage(),1"> 1</a>
        <a n:href="default, $paginator->getPage(),10"> 10</a>
        <a n:href="default, $paginator->getPage(),20"> 20</a>
        <a n:href="default, $paginator->getPage(),30"> 30</a>
    </div>


{else}
    Nejsou vytvořeni žádné značky!
{/foreach}

    <div id="add-brands" class="modal">

        <h2 class="modalTitle">Přidat značku</h2>

        {control addBrandsForm}

        <a class="back" style="text-align: right" n:href="this"><i class="tiny material-icons">close</i> Zavřít</a>


    </div>

    {if isset($brandName) && !empty($brandName)}
    <div id="edit-brands" class="modal modal-open">

        <h2 class="modalTitle">Upravit značku značku</h2>

        {control editBrandsForm}

    </div>
    {/if}


<script>
    {if isset($brandName) && !empty($brandName)}
    $(document).ready(function(){
        $('#edit-brands').modal();
        $('#edit-brands').modal('open');
    });
    {else}
    $(document).ready(function(){

        $('.modal').modal();


    })
    {/if}

</script>